/* Global Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #16357A;
}

/* Header Styles */
.top-header {
    background-color:#c0eff5;
    padding: 10px 0;
}

.logo-section {
    display: flex;
    align-items: center;
    gap: 13px;
}

.logo-img {
    width: 77px;
    height: 71px;
    object-fit: contain;
}

.logo-text {
    font-family: 'Avenir Next', sans-serif;
    font-size: 12.955px;
    line-height: 1.2;
    color: black;
}

.logo-text p {
    margin: 0;
    font-weight: bold;
}

.get-listed-btn {
    background: --white;
    border: 1px solid #12ddc0;
    border-radius: 100px;
    padding: 8px 16px;
    color:var(--primary-blue);
    font-weight: bold;
    text-decoration: none;
    box-shadow: 0px 0px 10px 2px rgba(74,96,245,0.2);
}

.profile-img {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    object-fit: cover;
}
/* Navigation */
.main-nav {
    background-color: #ffffff;
    padding: 20px 0;
    border-bottom: #88898a 0.5px solid;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    font-weight: bold;
    font-size: 20px;
}

.nav-links a {
    color: #16357a;
    text-decoration: none;
}

.nav-links a.active {
    color: #4fb0b9;
    text-decoration: underline;
}

.nav-links button {
    color: #16357a;
    font-weight: bold;
    display: flex;
    width: 191px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 3px solid #12DDC0;
    background: #C0EFF5;
    box-shadow: 0 0 10px 2px rgba(74, 96, 245, 0.20);
}

/* Changes color on hover */
.nav-links button:hover {
    color: #ffffff;
    font-weight: bold;
    display: flex;
    width: 191px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 3px solid #12DDC0;
    background: linear-gradient(90deg, #12DDC0 0%, #0E97DC 74.04%, #00496A 100%), linear-gradient(90deg, #FF7A37 0%, #4A60F5 100%), #FFF;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.30);
}


/* Opening section */
.left-align a{
    background: #16357A;
    border: none;
    font-family: 'Open Sans';
}

.left-align a:hover{
    background: none;
    border: 1px solid #0797D3;
    color: #0797D3;
    font-family: 'Open Sans';

}

/* Mission */

.learn-more{
    font-family: 'Open Sans';
    text-decoration: underline;
    color: #16357A;
}

/* Carousel */

.multi-carousel .carousel-inner {
  display: flex !important;
  flex-wrap: nowrap;
  overflow: hidden !important;
}

.multi-carousel .carousel-item {
  flex: 0 0 25% !important; /* 4 items */
  max-width: 25% !important;
}

.left-align a{
    background: #16357A;
    border: none;
    font-family: 'Open Sans';
}

.left-align a:hover{
    background: none;
    border: 1px solid #0797D3;
    color: #0797D3;
    font-family: 'Open Sans';

}

/* RAW Connection */

/* Without Investors */

/* Donate */

/* Footer */
.body-text{
    font-family: 'Open Sans';
}

.body-right{
    text-align: right;
    font-family: 'Open Sans';
}

.my-button{
    background-color: #16357A;
}

.card{
    margin: 0 0.5em;
    /* Don't want borders around card, so make override styling with !important */
    border: none !important;
}

.card-content{
    text-align: center;
}

.card-heading{
     font-family: "sofia-pro-soft", sans-serif;
     font-weight: 700;
     text-align: center;
     color:#16357A;
}

.carousel-inner{
    padding: 1em;
}

#ceramics-pic{
    width:62%;
    object-fit: cover;
    border-radius: 15px;
}

.check-out a{
    justify-content: center;
}

.con{
    border-radius: 10px;
}

.concert-pic{
    width: 350px;
    height: auto;
}

.concert-pic img{
    width:100%;
    object-fit: cover;
}

.donate{
    background: linear-gradient(90deg, #12DDC0 0%, #0E97DC 74.04%, #00496A 100%), linear-gradient(90deg, #FF7A37 0%, #4A60F5 100%), #FFF;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.30);
    padding: 2em;
    overflow: visible;
    display: flex;
    align-items: center;
    gap: 2em;
}

/* Footer */
.footer {
    background-color: var();
    padding: 60px 100px;
    margin-top: 60px;
}

.footer-logo-section {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.logo-section img{
    width: 150px;
}

.footer-social {
    display: flex;
    gap: 16px;
}

.social-icon {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.footer-links h3 {
    font-size: 20px;
    font-weight: bold;
    color: var(--primary-blue);
    margin-bottom: 16px;
}

.footer-links p,
.footer-links a {
    font-size: 20px;
    color: var(--primary-blue);
    text-decoration: none;
    margin-bottom: 16px;
}

.fund{
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: #ffffff;
}

.fund-content p{
    color: #ffffff;
}

.fund-content a{
    background-color: #16357A;
    border: none;
}

.fund-picture{
    width: 40%;
}

.fund-picture img{
    width: 100%;
    display: block;
    border-radius: 12px;
}

.group-pic img{
    width: 50%;
}

.gwac-value{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10em
}

.gwac-card{
    width:85%;
    display: flex;
    margin: 0.5em;
    padding: 1.5em;
    border-radius: 10px;
    align-items: start;
    gap: 1em;
    background-color: #AFE7FF;
}

.gwac-card-body{
    font-family: 'Open Sans';
}

/* Changing icon sizes */
.gwac-card img{
    width: 2em;
    height: auto;
}

.gwac-card-heading{
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 700;
}

.left-align{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5em;
}

#logo{
    width:70px;
}

.logo-small{
    width: 70px;
}

#home-top{
    display: flex;
    padding: 5em 20em;
    align-items: center;
    justify-content: center;
    gap: 3em;

}

/* Styling investors section */
.investors{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 2em;
}

@media screen and (max-width: 900px){
    #ceramics-pic{
        height: 250px;
        overflow: hidden;
        border-radius: 15px;
    }
    .donate{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .fund-content{
        text-align: center;
    }
    #home-top {
        flex-direction: column;
        padding: 5em 0; /* smaller padding for mobile */
        gap: 0.5em;
    }
    .left-align {
        align-items: center;
        padding: 4em;
        text-align: center;
    }
    .body-right, .mission h3{
        align-items: center;
        text-align: center;
    }
    .mission-text{
        flex-wrap: wrap;
    }
    .mission{
        flex-wrap: wrap;
    }
    .con{
        display: none;
    }
    .gwac-card{
        width: 95%;
        margin: 0.5em;

    }
    .gwac-value{
        margin: 0 2em;
    }
    .without-our{
        margin: 0;
        align-items: normal;
        flex-wrap: wrap;
    }
    #strength-arts{
        font-size: 1em;
    }
    #without-heading{
        text-align: center;
    }
    .multi-carousel .carousel-item {
    flex: 0 0 50% !important; /* 2 items */
    max-width: 50% !important;
  }

}

.mission{
    display: flex;
    padding: 56px;
    justify-content: center;
    align-items: center;
    gap: 2em;
    background-color: #C0EFF5;
}

.mission-text{
    display: flex;
    flex-direction: column;
    width: 30em;
    text-align: right
}

#our-mission{
    text-align: right;
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 700;
}

#strength-arts{
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 700;
    font-size: 3em;
}   

#without-heading{
    font-family: "sofia-pro-soft", sans-serif;
    font-weight: 700;
    font-size: 2em;
    text-align: left;
}

.without-our{
    display: flex;
    gap: 2em;
    justify-content: center;
    align-items: center;
    margin: 10em 6em;
}

.without-our img{
    width: 50%;
}

